<!-- cards with global covid19 stats -->
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <div class="card border-warning mb-3 m-5" style="max-width: 18rem;">
                <div class="card-header text-center">Total Confirmed Cases</div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{totalCases.toLocaleString()}}</h5>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card border-success mb-3 m-5" style="max-width: 18rem;">
                <div class="card-header text-center">Total Recoveries</div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{totalRecovered.toLocaleString()}}</h5>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card border-danger mb-3 m-5" style="max-width: 18rem;">
                <div class="card-header text-center">Total Number Of Deaths</div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{totalDeaths.toLocaleString()}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>