<!-- Table with stats -->
<div *ngFor="let covid of covidCountryData |
paginate: { itemsPerPage: 1, currentPage: page, totalItems:totalLength }">
    <div class="col d-flex justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Flag</th>
                    <th scope="col">Country</th>
                    <th scope="col">Cases</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Deaths</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{covid.countryInfo.flag}}" alt=""></td>
                    <td>{{covid.country}}</td>
                    <td>{{covid.cases.toLocaleString()}}</td>
                    <td>{{covid.recovered.toLocaleString()}}</td>
                    <td>{{covid.deaths.toLocaleString()}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- pagination controls -->

<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>