<div class="col d-flex justify-content-center" *ngFor="let country of countryName |
 paginate: { itemsPerPage: 1, currentPage: page, totalItems:totalLength }">
    <div class="row card-group">

        <div class="col-4 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://restcountries.eu/data/afg.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">{{country}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Infected: </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

    </div>
    
</div>
<hr>
<br>
<!-- pagination controls -->
<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>