<!-- navbar with search input -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="https://i.ibb.co/F8Xr721/virus-optmized.png" alt="" width="40px" height="40px">
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Country" aria-label="Search"
                [(ngModel)]="searchTerm" name="search">
        </form>
    </div>
</nav>

<!-- statistics cards -->
<stats-cards></stats-cards>

<!-- spinner -->


<!-- country covid19 details -->
<div *ngFor="let covid of covidCountryData | CountryFilter:searchTerm |
paginate: { itemsPerPage: 1, currentPage: page, totalItems:totalLength }">
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="{{covid.countryInfo.flag}}" class="api-img" alt="{{covid.country}}">
            <div class="card-body">
                <h2 class="card-title text-center">{{covid.country}}</h2>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Active Cases: {{covid.active.toLocaleString()}}</li>
                <li class="list-group-item text-center">Total Cases: {{covid.cases.toLocaleString()}}</li>
                <li class="list-group-item text-center">Recovered: {{covid.recovered.toLocaleString()}}</li>
                <li class="list-group-item text-center">Deaths: {{covid.deaths.toLocaleString()}}</li>
            </ul>
        </div>
    </div>
    <br>
</div>
<hr>

<!-- TODO: make pagination with alphabets -->
<!-- pagination controls -->
<pagination-controls class="text-center my-pagination" (pageChange)="page = $event" autoHide="true">
</pagination-controls>